/* 
font-family: 'Birthstone', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yesteryear', cursive;
*/

:root {
  --bg-gradient: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-color: #702283;
  --secondary-color: #bbe4e9;
}

body {
  padding: 0;
  margin: 0px auto;
  max-width: 800 px;
  font-family: "Montserrat", sans-serif;
}

.main-heading {
  font-family: "Birthstone", cursive;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
}

.main-text {
  font-family: "Birthstone", cursive;
}

.main-color {
  color: var(--main-color);
  font-weight: 600;
}

.p-subtitle {
  font-size: 28px;
  font-weight: 600;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
}

.btn-branding,
.about-link {
  padding: 20px;
  box-shadow: var(--box-shadow);
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 20px;
  text-decoration: none;
}

.btn-branding {
  color: #fff;
  background: var(--main-color);
}

.about-link {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn-branding:hover {
  background: var(--secondary-color);
}

.about-link:hover {
  color: var(--main-color);
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
