/* 
font-family: 'Birthstone', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yesteryear', cursive;
*/

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Birthstone", cursive;
  text-align: center;
  font-size: 50px;
}
